# Write Pythonic and Clean Code With namedtuple

Python的`collections`模块提供了一个名为`namedtuple()`的factory function。`namedtuple()`是专门设计用于在使用元组时使代码更Pythonic的。使用`namedtuple()`可以创建不可变(immutable)序列类型，允许我们使用描述性的字段名而不是不明确的整数索引来访问它们的值。
>>In object-oriented programming, a factory is an object for creating other objects; formally, it is a function or method that returns objects of a varying prototype or class[1] from some method call, which is assumed to be "new".[a] More broadly, a subroutine that returns a "new" object may be referred to as a "factory", as in factory method or factory function. The factory pattern is the basis for a number of related software design patterns.

## Using `namedtuple` to Write Pythonic Code

Python的`namedtuple()`是一个在`collections`模块中的factory function。它允许我们创建具有命名字段(named fields)的元组子类。我们可以使用点表示法和字段名访问给定命名元组中的值，如`obj.attr`

`namedtuple()`通过提供一种使用描述性字段名而不是整数索引访问值的方法来提高代码的可读性，而整数索引在大多数情况下不提供关于值是什么的上下文。该特性还使代码更清晰，更易于维护。

`namedtuple`的主要特征：
- 是不可变(immutable)的数据结构；
- 具有一致的哈希值;
- 可以当作字典的keys;
- 可以存储在集合sets中;
- 根据类型和字段名具有有帮助的Docstring;
- 提供有用的字符串表示形式，以`name=value`的形式打印元组内容;
- 支持索引;
- 提供其他方法和属性，例如`_make()`, `_asdict()`, `_fields`等;
- 和常规元组向后兼容;
- 具有与常规元组相近的内存消耗;

一般来说，只要需要类似元组的对象，就可以使用`namedtuple`实例。

## Creating Tuple-Like Classes With namedtuple()

我们使用`truple`来表示一个2D的点：

In [2]:
# create a 2D point as a tuple
point = (2, 4)
point

(2, 4)

In [3]:
# access coordinate x and y
point[0], point[1]

(2, 4)

In [4]:
# try to update a coordinate value
point[0] = 3

TypeError: 'tuple' object does not support item assignment

在上面的代码中，我们使用常规元组创建了一个不可变的2D点。但是该代码的可读性很差，我们不能通过索引推断出值的含义。

为了减少这种歧义，我们使用`namedtuple`来表示：

In [5]:
from collections import namedtuple

# create a namedtuple type, Point
Point = namedtuple("Point", "x y")
issubclass(Point, tuple)

True

In [6]:
# instantiate the new type
point = Point(2, 4)
point

Point(x=2, y=4)

In [7]:
# dot notation to access coordinate
point.x, point.y

(2, 4)

In [8]:
# indexing to access coordinate
point[0], point[1]

(2, 4)

In [9]:
# named tuples are immutable
point.x = 100

AttributeError: can't set attribute

默认情况下，`Point`的实例会以用户友好的字符串打印。为了使用方便，我们可以同时使用点表示法和索引法来访问每个坐标的值。

最后，因为`namedtuple`类是`tuple`类是子类，所以它们也是不可变的。如果我们视图修改一个坐标值，我们会得到一个Error.

### Providing Required Arguments to namedtuple()

为了创建一个新的`namedtuple`，我们需要提供两个位置参数：
- **typename**: 为`namedtuple()`函数返回的`namedtuple`(tuple的子类)提供类名
- **field_names**: 提供用于访问元组中的值的字段名。可以通过如下方式提供：
  - 可迭代的一组字符串，如["field1", "field2", ..., "fieldN"]
  - 用空格分隔的字符串，如 "field1 field2 ... field3"
  - 用逗号分隔的字符串，如 "field1, field2,..., field3"

In [14]:
# a list of strings for field names
Point = namedtuple("Point", ["x", "y"])
Point(2, 4)

Point(x=2, y=4)

In [15]:
# a string with comma-sep field names
Point = namedtuple("Point", "x, y")
Point(4, 8)

Point(x=4, y=8)

In [16]:
# a generator expression for the field names
Point = namedtuple("Point", (field for field in "xy"))
Point(2, 3)

Point(x=2, y=3)

### Using Optional Arguments With namedtuple()

除了`typename`和`fieldnames`两个必需的参数，`namedtuple()`还要三个可选的参数：
- rename
- defaults
- module

详细阅读：https://realpython.com/python-namedtuple/

## Exploring Additional Features of namedtuple Classes

除了继承自`tuple`的方法，例如`count()`和`index()`， `namedtuple`类还提供了三个额外的方法和两个属性。为了防止和自定义的字段名称冲突，这些属性和方法的名称都以下划线开头。

### Creating namedtuple Instances From Iterables

我们可以使用`._make()`方法来创建`namedtuple`实例，该方法接受一个值的可迭代对象，并返回一个新的命名元组。

In [19]:
Person = namedtuple("Person", "name age height")
Person._make(["Jane", 25, 1.75])

Person(name='Jane', age=25, height=1.75)

在上面的代码中首先使用`namedtuple()`创建`Person`类，然后使用`._make()`方法构建`Person`实例。`._make()`是一个类方法，可作为替代类构造函数并返回一个新的命名元组实例。

### Converting namedtuple Instances Into Dictionaries

可以使用`._asdict()`将现有的`namedtuple`实例转换为字典。该方法返回一个使用字段名作为键的新字典。字典的键与原始`namedtuple`中的字段的顺序相同。

In [20]:
Person = namedtuple("Person", "name age height")
jane = Person("Jane", 25, 1.75)
jane._asdict()

{'name': 'Jane', 'age': 25, 'height': 1.75}

### Replacing Fields in Existing namedtuple Instances

最后一个方法是`._replace()`,该方法接受`field=value`的形式作为关键字参数，并返回一个新的`namedtuple`实例，以更新选定字段的值。

In [21]:
Person = namedtuple("Person", "name age height")
jane = Person("Jane", 25, 1.75)
jane = jane._replace(age=26)
jane

Person(name='Jane', age=26, height=1.75)

注意，因为`namedtuple`是不可变的，因此`._replace()`方法返回的是新的实例而不是原地的操作

### Exploring Additional namedtuple Attributes

`namedtuple`有两个额外的实例：`._fields`和`._field_defaults`。前者含有一个列有字段名的字符串元组，后者保存一个字典，将字段名映射到各自的默认值(如果有的话).

In [22]:
Person = namedtuple("Person", "name age height")
jane = Person("Jane", 25, 1.75)
for field, value in zip(jane._fields, jane):  # same as jane._asdict().items()
    print(field, "->", value)

name -> Jane
age -> 25
height -> 1.75

In [25]:
Person = namedtuple("Person", "name age height", defaults=[1.6])  # 默认值从右往左
Person._field_defaults

{'height': 1.6}

## Writing Pythonic Code With namedtuple
后续内容见：https://realpython.com/python-namedtuple/